
<%- include('partials/header'); -%>

<form action="/tasks">
  
  <h1>Tasks</h1>
    <label for="title" >Title</label>
    <input type="text" name="title" class="title" value="">
    <label for="description">Description</label>
    <textarea name="description" id="" cols="30" rows="10" value=""></textarea>
    <button class="taskBtn" id="taskBtn" >Submit</button>
  
  <div class="contentTitle" style="margin-top: 50px;"></div>
  <div class="contentDescription" style="margin-top: 50px;"></div>
  
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const title = form.title.value;
    const description = form.description.value;
    

    
    const res = await fetch("/tasks", {
        method: "POST",
        body: JSON.stringify({ title, description }),
        headers: {"Content-Type": "application/json"}
      });
      
      res.json();
      location.assign("/")
  });

  
</script>

<%- include('partials/footer'); -%>